.info-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsla(0, 0%, 0%, 0.26);
    width: 100%;
    /* width: max-content; */
    padding: 0.8rem;
    gap: 0;
    border-radius: 12px;
}

.info-card .icon {
    font-size: 2.5rem;
    line-height: 1px;
    color: var(--light);
}

.info-card .value {
    font-size: 2rem;
    line-height: 1.2em;
    font-weight: 500;
}

.info-card .field {
    color: #ffffff8a;
    font-size: 0.8rem;
    font-weight: 300;
}

.time-card {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 0.2rem;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    background-color: hsla(0, 0%, 100%, 15%);
    width: max-content;
}

.time-card .field {
    color: #ffffff8a;
    font-weight: 400;
    font-size: 0.8rem;
}

.time-card .time {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.time-card .sun-icon {
    height: 1.2em;
    margin-right: 1rem;
}