.dashboard {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    background-color: var(--theme);
    width: max-content;
    border-radius: 12px;
    padding: 1rem
}

.dashboard .maincol, .dashboard .sidecol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.dashboard .maincol .stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 1rem;
}
@media screen and (max-width: 730px) {
    .dashboard {
      width: 480px;
      align-items: center;
      justify-content: center;
    }
    .maincol {
      width: 100%;
    }
    .timecardHolder {
      gap: 0px;
      justify-content: space-between !important;
    }
    *{
        font-size: 10px;
    }
  }
  
  @media screen and (max-width: 522px) {
    .dashboard {
      width: 440px;
      align-items: center;
      justify-content: center;
    }
  }
  
  @media screen and (max-width: 490px) {
    .dashboard {
      width: 400px;
      align-items: center;
      justify-content: center;
    }
  }
  
  @media screen and (max-width: 444px) {
    .dashboard {
      width: 350px;
      align-items: center;
      justify-content: center;
    }
    .stats {
      overflow-x: scroll;
    }
  }
  
  @media screen and (max-width: 375px) {
    .dashboard {
      width: 330px;
    }
    .stats {
      gap: 5px !important;
    }
  }
  
  @media screen and (max-width: 355px) {
    .dashboard {
      width: 310px;
    }
  }
  @media screen and (max-width: 350px) {
    .dashboard {
      width: 290px;
    }
  }