.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    gap: 2rem;
    background: hsla(0, 0%, 100%, 0.13);
    border-radius: 12px;
    padding: 1rem;
    color: white;
}

.banner .typography {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.banner .typography .minmax {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.banner .typography .temperature {
    font-size: 6rem;
}

.banner .typography .minmax .label {
    font-size: 1.2rem;
}

.banner .typography .status {
    font-size: 1.2rem;
}

.banner .image img {
    width: 14rem;
}
@media screen and (max-width: 600px) {
    .banner .typography .status {
        font-size: 10rem;
    }
    
    .banner .image img {
        width: 10rem;
    }
  }
@media screen and (max-width: 830px) {
    .banner .typography {
      gap: 0px ;
    }
    .banner .typography .status {
     font-size: 0.8rem;
     }
     .label{
         font-size: 1rem !important;
     }
 
     .banner .image img {
         width: 9rem;
     }
     .banner .typography .temperature {
         font-size: 4rem;
     }
     .status{
         font-size: 1rem;
     }
 
    }
 
 
 
   @media screen and (max-width: 444px) {
    
       .banner .typography .status {
        font-size: 0.8rem;
        }
    
        .banner .image img {
            width: 6.9rem;
        }
        
        .label{
         font-size:0.9rem !important ;
        }
        .banner{
         gap:0rem !important
        }
 
      
   
   }
 
 
   @media screen and (max-width: 355px) {
    
     .temperature{
         font-size: 3.5rem !important;
     }
      
      .label{
       font-size:0.8rem !important ;
      }
     .banner{
         padding-left: 3px !important;
         padding-right: 3px !important;
     }
 
    
     }